body{margin:0; padding:0;font-family:Comfortaa-Regular, sans-serif }     /**** Initialisation des marges + police****/
.container {

}


.logo {

}

.weare {

}

.team {

}

.team-title {
    width:960px;
    height:90px;
    background-color: rosybrown;
}

.member-container {
    width: 400px;
    height: 90px;
    background-color: blueviolet;
    border: 1px solid black;
    
}

.member-ligne {
    display : flex;
}


.member {

}

.event-header {

}

.event-box {

}

.event-box-title {

}

.event-box-content {

}

.form {

}
