@font-face {
font-family: Comfortaa-Regular;
src: url(fonts/Comfortaa-Regular.ttf);
}

body {
    margin:0;
    padding:0;
    font-family:"Comfortaa-Regular", sans-serif
}     /**** Initialisation des marges + police****/

h2 {
    position: relative;
    text-align: center;
    width: 60%;
}
h2:after {
    content: "";
    position: absolute;
    width: 50%;
    left: 25%;
    height: 15px;
    border-bottom: 5px solid brown;
    padding-top: 20px;
}
.container {
    width: 960px;
    background-color: pink;
    margin: 0 auto;
}


.logo {

}

#weare {
    background-color: blue;
    margin: 0 auto;
    width: 70%;
}
.weare-container {
    background-color: green;
}
.weare-img-container{
    background-color: brown;
    position: relative;
    float:left;

}
.vignette {
    background-color: brown;
    border: 3px solid white;
    color: white;
    padding: 3 5;
    position: absolute;
    top:20px;
    left: -55px;
}

.weare-text-container {
    background-color: grey;
    
}

}
.team {

}

.member {

}

.event-header {

}

.event-box {

}

.event-box-title {

}

.event-box-content {

}

.form {

}
