@font-face {
font-family: Comfortaa-Regular;
src: url(fonts/Comfortaa-Regular.ttf);
}

body {
margin:0;
padding:0;
font-family:"Comfortaa-Regular", sans-serif
}

h2 {
position: relative;
text-align: center;
width: 60%;
}
h2:after {
content: "";
position: absolute;
width: 50%;
left: 25%;
height: 15px;
border-bottom: 5px solid brown;
padding-top: 20px;
}


.container {
  width:960px;
  margin: 0 auto;
}

header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),
  url("images/header_Background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height:510px;
}

.navigation{
font-family: sans-serif;
float:right;
padding-right: 180px;
}

nav > ul{display: flex;padding:10 0 0 10;}
li{ list-style: none; font-size: 17px; color:white; margin-right: 25px;}

.logo {
  position: absolute;
  top:70px;
  left: 40%;
  padding-top: 100px;
}

#weare {
    /*background-color: blue;
    border: 2px solid black;*/
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-rows: 80% 20%;
}

.weare-up {
    /*background-color: brown;
    border: 2px solid green;*/
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
}

.weare-img {
    position: relative;
    /*border: 2px solid black;*/

}
.header-img{width: 100%;}

.weare-img img {
    width: 100%;
}

.vignette {
    background-color: brown;
    border: 3px solid white;
    color: white;
    padding: 3px 5px;
    position: absolute;
    top:20px;
    left: -80px;
}

.weare-up-right {
    /*background-color: yellow;
    border: 2px solid black;*/
    display: grid;
    grid-column : 2 / 3;
    grid-template-rows: 30% 70%;
}

.weare-up-right h2 {
    grid-row : 1 / 2;
    margin: 1.3em auto 0;
    /*border: 1px solid;*/
}

.weare-up-right p {
    grid-row: 2 / 3;
    margin: auto;
    text-align: justify;
    padding: 0 1em;
    /*border: 2px solid;*/
}

section p {
    grid-row: 2 / 3;
    margin: auto;
    text-align: justify;
    padding: 0.5em 1em 0 0;
}
}

.team {

}

.team-title {
    width:960px;
    height:90px;
    text-align: center;

}

.member-container {
    width: 480px;
    height: 200px;

}



.member-text {
    justify-content: center;
    text-align: justify;
}
.member-ligne {
    display : flex;
}
.member-container {
    display: flex;
}

.member-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.member-titre {
background-color: brown;
color: whitesmoke;
width: 40px;
text-align: center;
}

.event-layout {
	display: grid;
	width: 960px
	grid-template-columns: 5%, 15%, 60%, 15%, 5%;
}

.image1 {
	grid-column-start: 2;
	grid-column-end: 3;
}

.event-layout h2 {
	grid-column-start: 3;
	grid-column-end: 4;
	width: 300px;

}

.image2 {
	grid-column-start: 4;
	grid-column-end: 5;
}

.box-group {
	display: flex;
	padding: 0 5% 0 5%;
}

.event-box {
	margin: 30px;
	box-shadow: 0px 5px 8px grey;
}

.event-box-title {
	background-color: #9C2819;
	color: white;
	text-align: center;
	font-size: 20px;
}

.box-group p {
	margin:0;
	padding: 5px 20px 5px 20px;
}

.event-box-content {

}

.box-text1 {
	text-align: center;
	font-size: 15px;
	color: #6ED3F4;
}

.box-text2 {
	text-align: center;
	font-size: 16px;
}

.box-text3 {
	text-align: center;
	font-size: 14px;
}

.box-text4 {
	text-align: center;
	font-size: 10px;
	color: grey;
}

.form {

}

footer{
  display:grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 30% 70%;
  height:260px;
  background-image: url("images/swirl_pattern.png");
  align-items: center;
  font-family: arial;
}

.footer-par{
  grid-column: 2;
  grid-row:1;
}

.footer-par > p {
  padding-top: 80px;
  text-align: center;
  font-size: 38px;
}

.footer-logo{
  width: 400px;
  grid-column:2;
  grid-row: 2;
  display:flex;
  justify-content:space-between;
  margin-top: -20px;
}
